<div class="jumbotron">
    <h1 class="display-4">BIENVENIDO!</h1>
    <p class="lead">Bienvenido al estacionamiento Hello World.</p>
    <hr class="my-4">
    <p>Elige entre las siguientes opciones:</p>
<div>
    <div class="container">
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/vehiculo-oficial']" role="button">Dar de alta a vehiculo Oficial</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/vehiculo-residente']" role="button">Dar de alta a vehiculo Residente</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/entrada']" role="button">Registrar entrada de vehiculo</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/salida']" role="button">Registrar salida de vehiculo</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/comenzar']" role="button">Comienza mes</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/reporte-importe']" role="button">Pagos de residentes</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/tipo-vehiculo']" role="button">Registrar nuevo tipo de vehiculo</a>
</div>
</div>
</div>

  