<hr class="my-4">
<div class="container">
<div class="mx-auto" style="width: 200px;">
<form #vehiculoForm="ngForm">
    <div class="form-group">
      <label for="input-placa">Placa <span class="text-danger">*</span></label>
      <input 
      type="text" 
      name="placa"
      class="form-control" 
      id="placa" 
      placeholder="Placa"
      [(ngModel)]="vehiculo.placa"
      #placa="ngModel" 
      required
      >
    </div>
    <button type="button" class="btn btn-success my-4" (click)="saveSalida()" >Guardar</button>
    <button type="button" class="btn btn-secondary my-4"[routerLink]="['/menu']">Cancelar</button>
</form>
</div>
</div>
<hr class="my-4">